<!DOCTYPE html>
<html>
  <head>
    <title>Genshijin Bot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render('layouts/header') %>
    <div class="main">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "flash flash-#{message_type} shadow") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
  <script>
    new Main();
  </script>
</html>
